@use "./base.scss";

// put your custom CSS here!
/* Garante quebra de linha normal em listas */
ol, ul {
  display: block !important;
  list-style-position: outside !important;
//   margin: 1em 0 !important;
  padding-left: 2em !important;
}

li {
  display: list-item !important;
  margin: 0.3em 0 !important;
}


/* Exibe o código inteiro sem rolagem */
pre, code {
  overflow: visible !important;
  white-space: pre-wrap !important; /* permite quebra de linha */
  word-wrap: break-word !important;
  max-height: none !important;
}

/* Ajuste para listas apenas no conteúdo principal da página */
main ol, main ul {
  display: block !important;
  list-style-position: outside !important;
  margin: 1em 0 !important;
  padding-left: 2em !important;
}

main li {
  display: list-item !important;
  margin: 0.3em 0 !important;
}

/* Ajuste para código apenas no conteúdo principal */
main pre, main code {
  overflow: visible !important;
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  max-height: none !important;
}

.sidebar.left {
  background-color: #1c1b1a !important;  // background lateral esquerda
  color: #ffffff;
}

.sidebar.right {
  background-color: #1c1b1a !important;  // background lateral direita
  color: #ffffff;
}

.main-content, .content {
  // background-color: #1c1b1a !important;   // background corpo principal
  padding: 10px !important;                // padding 10px no corpo da página
  color: #ffffff;
}
/*
.toc.desktop-only {
  overflow-x: hidden !important;           // Esconde a barra de rolagem horizontal
  overflow-y: auto;                        // Permite scroll vertical se necessário
  word-break: break-word !important;       // Quebra as palavras longas se necessário
  hyphens: auto;                           // Caso suporte, permite dividir palavras com hífens
}

ul.toc-content.overflow .depth-0 {
  padding-left: 0;
  word-break: break-word !important;      // força quebra de palavra
  overflow-wrap: break-word !important;   // complemento para quebra de palavra
  white-space: normal !important;          // garante quebra de linha
  padding-right: 20px; //distancia da barra de rolagem
  list-style: auto;
}

.page>#quartz-body {
  padding: 0 1rem 0 0;
}

.page>#quartz-body .center, .page>#quartz-body footer {
  padding: 20px;
}

img {
    content-visibility: auto;
    border-radius: 5px;
    max-width: 95%;
}